################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/First/.vs/First
/Xml/Xml/.vs
/First/First
/FirstApp/FirstApp/bin/Debug/netcoreapp2.2
/FirstApp/FirstApp/obj
/FirstApp/.vs/FirstApp
/FirstApp/FirstApp/.vs/VSWorkspaceState.json
/FirstApp/FirstApp/FirstApp.csproj.user
/Trening/.vscode
/Trening/obj
/Trening/bin/Debug/netcoreapp2.2
/TelegramBot/.vs/TelegramBot
/TelegramBot/TelegramBot/bin/Debug/netcoreapp2.2
/TelegramBot/TelegramBot/obj/Debug/netcoreapp2.2
/TelegramBot/TelegramBot/obj
/kollektion/ConsoleApp2/bin/Debug/netcoreapp2.2
/kollektion/ConsoleApp2/obj
/Strings/Strings/bin/Debug/netcoreapp2.2
/Strings/Strings/obj
/Stwich/.vs
/Strings/.vs/Strings/v16
/kollektion/.vs/ConsoleApp2
/File/File/.vs
/File/File/obj/Release/netcoreapp2.2
/ConsoleApp2/ConsoleApp2/bin/Debug/netcoreapp2.2
/ConsoleApp2/ConsoleApp2/obj
/ConsoleApp2/.vs/ConsoleApp2/v16/Server/sqlite3
/ConsoleApp2/.vs/ConsoleApp2/v16
