################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/First/.vs/First
/Xml/Xml/.vs
/First/First
/FirstApp/FirstApp/bin/Debug/netcoreapp2.2
/FirstApp/FirstApp/obj
/FirstApp/.vs/FirstApp
